<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document EJS</title>
</head>
<body>
  <h1>Mates</h1>
  <ul> <% for (let m of MAT){ %> 
 <li><a href="mates/<%= m._id %>"><%= `${m.nombre}` %></a> </li>
 <% } %> 
 </ul>
 <a href="mates/nuevo">Añadir nueva entrada</a>
</body>
</html>